@import "../../../../variables";

.container{
  max-width: 700px;
  margin: 40px auto 0;

  .title{

    h1{
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
    }
    img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    span{
      color: #000;
      font-family: $outfit;
    }
  }
  .search{
    .allForm{
      display: flex;
      justify-content: center;
      max-width: 300px;
      margin: 150px auto 0;
    }

  }
  .errors{
    max-width: 300px;
    margin: 10px auto 0;
    font-size: 14px;
  }

  .result{
    opacity: 0;

    .userList{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &--user{
        width: 50%;
      }
      &--holder{
        border-radius: 44px;
        //border: 1px solid rgba($blackText, 0.3);
        background-color: $white;
        margin: 10px;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0 1px 20px rgb(2 110 225);
        }
      }
      img{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 3px solid $white;
      }
      &--info{
        margin-left: 15px;
        h3{
          margin: 0;
          font-family: $outfit;
          display: flex;
          align-items: center;
          font-size: 16px;
          span{
            margin-left: 10px;
            font-size: 10px;
            color: $blue;
            font-family: $noto;
          }
        }
        p{
          margin: 0;
          font-size: 12px;
          color: gray;
        }
      }
    }

    .pagination {
      margin-top: 40px;
      display: flex;
      gap: 8px;
      justify-content: center;

      /*button {
        padding: 4px 10px;
        cursor: pointer;

        &.active {
          background-color: #007bff;
          color: white;
        }

        &:disabled {
          background-color: #eee;
          cursor: not-allowed;
        }
      }*/
    }
  }

  .footer{
    text-align: center;
  }
}
.container_footer{
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 12px;
  text-align: center;
  opacity: 0.7;
}

.inputComponent{
  height: 50px;
  border-radius: 8px;
  border: 1px solid #607b97;
  margin-right: 15px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-family: $noto;
  font-size: 16px;
}
.btnComponent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  border-radius: 8px;
  border: none;
  font-family: $outfit;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  .material-symbols-outlined{
    margin-right: 5px;
  }
  &:hover{
    background-color: $blueDark;
  }
  &:disabled{
    color: rgba($white, 0.5);
    background-color: rgba($blue, 0.5);
  }
}


/**
MODAL STYLES
 */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  max-width: 450px;
  width: 90%;
  &:before{
    content: "";
    background: radial-gradient(45.99% 29.51% at -3.19% 54.27%, #6E5EE0 0%, rgba(110, 94, 224, 0) 98.96%), radial-gradient(39.08% 32.96% at 9.69% 45.95%, #03E196 0%, rgba(3, 225, 150, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(180deg);
    opacity: 0.25;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .logo{
    width: 24px;
    height: 24px;
    margin: 0 auto 10px;
  }
  .userInfo{
    display: flex;
    align-items: center;
    border-top: 1px solid $gray-light;
    padding-top: 30px;
    img{
      width: 90px;
      height: 90px;
      margin-right: 15px;
      border-radius: 8px;
    }
    .subInfo{
      margin: 0 0 8px;
      font-size: 12px;
      display: flex;
      align-items: center;
      .material-symbols-outlined{
        font-size: 16px;
        margin-right: 7px;
        opacity: 0.5;
      }
      a{
        color: $blue;
      }
    }
    .userLogin{
      font-family: $outfit;
      font-size: 24px;
      margin: 0;
      color: #000;
      font-weight: 500;
    }
    .userName{
      font-family: $outfit;
      font-size: 20px;
      color: $blackText;
      margin: 0 0 10px;
    }
  }

  .userDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 20px;

    .column{
      border: 1px solid $gray-light;
      padding: 20px;
      border-radius: 8px;
      background-color: rgba($white,0.7);
      .title{

      }
      .data{
        width: 33.3%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .material-symbols-outlined{
          font-size: 30px;
          margin-right: 7px;
          opacity: 0.5;
        }
        .dataDetail{
          font-size: 28px;
        }
      }
    }

  }

  .userAditionalInfo{
    .subInfo{
      margin: 0 0 8px;
      font-size: 12px;
      display: flex;
      align-items: center;
      .material-symbols-outlined{
        font-size: 16px;
        margin-right: 7px;
        opacity: 0.5;
      }
      a{
        color: $blue;
      }
    }
  }
}
